@charset "utf-8";

body{
	margin:0;
	padding:0;
	font-family: 'swisop3regular';
}

html{
	font-size: 20px;
}

@font-face {
    font-family: 'swisop3regular';
    src: url('swisop3-webfont.woff2') format('woff2'),
         url('swisop3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'assassinregular';
    src: url('assassin-webfont.woff2') format('woff2'),
         url('assassin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


#storbox{
	background-color:#1E1E1E;
	width:100%;
	height:100%;
	position:absolute;
}

#gamesImage{
	height:100%;
	width:50%;
	float:left;
	background-image: url(acspel.jpg);
	background-size:cover;
	background-position:center;
}

#movieImage{
	height:100%;
	width:50%;
	float:right;
	background-image:url(acmovie.jpg);
	background-size:cover;
	background-position:center;
}

.mainLink{
	height:100%;
	width:100%;
	float:left;
	background-color:rgba(26,26,26,0.62);
}

a.mainLink{
	font-size:58px;
	text-align:center;
	display: block;
	line-height:900px;
	text-decoration:none;
	color:#FFF;
	font-family:"assassinregular";
}

a.mainLink:hover{
	transition: ease-in 0.15s;
	background-color:rgba(30,30,30,0.15);
	color:#FFF;
}

header{
	/*height:5.75rem;*/
	height: 12%;
	width:100%;

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.1, #1E1E1E),
	color-stop(1, #800000)
);
background-image: -o-linear-gradient(top, #1E1E1E 10%, #800000 100%);
background-image: -moz-linear-gradient(top, #1E1E1E 10%, #800000 100%);
background-image: -webkit-linear-gradient(top, #1E1E1E 10%, #800000 100%);
background-image: -ms-linear-gradient(top, #1E1E1E 10%, #800000 100%);
background-image: linear-gradient(to top, #1E1E1E 10%, #800000 100%);
}

header#headerFixed{
	position: fixed;
}

a#logoImage{
	height:5.75rem;
	width:6rem;
	background-image:url(Logo.png);
	background-size:cover;
	background-position:center; 
	position: fixed;
	display: block;
	left: 46.9%;
	/*left: 50%;
    top: 50%;
	transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);*/
}

a#headerButton{
	height: 3rem;
	width:8rem;
	line-height:3.5rem;
	display:block;
	float:left;
	font-size:2.9rem;
	text-align:center;
	text-decoration:none;
	margin-top:1.4rem;
	left: 54%;
	color:#FFF;
	font-family:"assassinregular";
	position: fixed;
	/*position: absolute;
	left: 58%;
    top: 50%;
	transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);*/
}

a#sourcesButton{
	height:3rem;
	width:8rem;
	line-height:3.5rem;
	display:block;
	float:left;
	font-size:2.9rem;
	text-align:center;
	text-decoration:none;
	margin-top:1.4rem;
	color:#FFF;
	font-family:"assassinregular";
	position: fixed;
	left: 37.8%;
}

a#headerButton:hover{
	transition: ease-in 0.15s;
	background-color:rgba(30,30,30,0.6);
	color:#FFF;
	border: 1px #FFF;
	border-style: solid solid solid solid;
}

a#sourcesButton:hover{
	transition: ease-in 0.15s;
	background-color:rgba(30,30,30,0.6);
	color:#FFF;
	border: 1px #FFF;
	border-style: solid solid solid solid;
}

a#dropButton{
	height:3rem;
	width:8rem;
	line-height:3.5rem;
	float:left;
	font-size:2.9rem;
	margin-top:1.4rem;
	text-align:center;
	display: block;
	text-decoration:none;
	color:#FFF;
	font-family:"assassinregular";
	position: fixed;
	left: 37.8%;
}

a#dropButton:hover{
	transition: ease-in 0.15s;
	background-color:rgba(30,30,30,0.6);
	color:#FFF;
	cursor:pointer;
	border: 1px #FFF;
	border-style: solid solid solid solid;
}

#dropContent{
	display: none;
	width:768px;
	height:400px;
	float:left;
	margin-top:19px;
	position: fixed;
	left: 570px;
	top: 97px;
	background-color: rgba(30,30,30,0.7);
}

ul{
	/* [disabled]list-style: none; */
	padding: 0;
	margin: 0;
}

li#ac1{
	height: 80px;
	width: 50%;
	background-color: transparent;
	float: left;
	position: fixed;
	top: 117px;
}
li#ac2{
	height: 80px;
	width: 50%;
	background-color: transparent;
	float: right;
	position: fixed;
	top: 117px;
	margin-left: 384px;
}
li#ac2b{
	height: 80px;
	width: 50%;
	background-color: transparent;
	float: left;
	position: fixed;
	top: 197px;
}
li#ac2r{
	height: 80px;
	width: 50%;
	background-color: transparent;
	float: left;
	position: fixed;
	top: 197px;
	margin-left: 384px;
}
li#ac3{
	height: 80px;
	width: 50%;
	background-color: transparent;
	float: left;
	position: fixed;
	top: 277px;
}
li#ac4{
	height: 80px;
	width: 50%;
	background-color: transparent;
	float: left;
	position: fixed;
	top: 277px;
	margin-left: 384px;
}
li#acr{
	height: 80px;
	width: 50%;
	background-color: transparent;
	float: left;
	position: fixed;
	top: 357px;
}
li#acu{
	height: 80px;
	width: 50%;
	background-color: transparent;
	float: left;
	position: fixed;
	top: 357px;
	margin-left: 384px;
}
li#acs{
	height: 80px;
	width: 50%;
	background-color: transparent;
	float: left;
	position: fixed;
	top: 437px;
}
li#källor{
	height: 80px;
	width: 50%;
	background-color: transparent;
	float: left;
	position: fixed;
	top: 437px;
	margin-left: 384px;
}

a.links{
	display: block;
	height: 80px;
	width: 384px;
	text-align: center;
	text-decoration:none;
	color:#FFF;
	font-family:"assassinregular";
	font-size: 50px;
	line-height: 88px;
	background-color: rgba(30,30,30,0.62);
}

a.links:hover{
	transition: ease-in 0.15s;
	background-color:rgba(200,200,200,0.15);
}

#ac1Image{
	height:88%;
	width:11.1111%;
	background-image:url(ac1.jpg);
	background-size:cover;
	background-position:center;
	float:left;
}

#ac2Image{
	height:88%;
	width:11.1111%;
	background-image:url(ac2.jpg);
	background-size:cover;
	background-position:center;
	float:left;
}

#ac2bImage{
	height:88%;
	width:11.1111%;
	background-image:url(ac2b.jpg);
	background-size:cover;
	background-position:center;
	float:left;
}

#ac2rImage{
	height:88%;
	width:11.1111%;
	background-image:url(ac2r.jpg);
	background-size:cover;
	background-position:center;
	float:left;
}

#ac3Image{
	height:88%;
	width:11.1111%;
	background-image:url(ac3.jpg);
	background-size:cover;
	background-position:center;
	float:left;
}

#ac4Image{
	height:88%;
	width:11.1111%;
	background-image:url(ac4.jpg);
	background-size:cover;
	background-position:center;
	float:left;
	/*clear: left;*/
}

#acrImage{
	height:88%;
	width:11.1111%;
	background-image:url(acr.jpg);
	background-size:cover;
	background-position:center;
	float:left;
}

#acuImage{
	height:88%;
	width:11.1111%;
	background-image:url(acu.jpg);
	background-size:cover;
	background-position:center;
	float:left;
}

#acsImage{
	height:88%;
	width:11.1111%;
	background-image:url(acs.jpg);
	background-size:cover;
	background-position:center;
	float:left;
}

.gamesLink{
	height:100%;
	width:100%;
	float:left;
	background-color:rgba(30,30,30,0.62);
}

a.gamesLink{
	font-size:48px;
	text-align:center;
	line-height:850px;
	text-decoration:none;
	color:#FFF;
	font-family:"assassinregular";
}

.brotherhoodText{
	letter-spacing:-2.5px;
}

a.gamesLink:hover{
	transition: ease-in 0.15s;
	background-color:rgba(26,26,26,0.15);
	color:#FFF;
}

article{
	background-color:#E1E1E1;
	height:auto;
	width:100%;
	margin-top: 6.1%;
	overflow:hidden;
}

.ImagePage{
	width:46.45em;
	height:26.15em;
	background-color:#FFF;
	margin-left: 1.25em;
	margin-top: 1.25em;
	float: left;
	box-shadow: -0.05em 0em 0.5em 0.05em rgba(0,0,0,0.4);
	-webkit-box-shadow: -0.05em 0em 0.5em 0.05em rgba(0,0,0,0.4);
	-moz-box-shadow: -0.05em 0em 0.5em 0.05em rgba(0,0,0,0.4);
}

.ImageONE{
	width:46.45em;
	height:26.15em;
}

.ImagePage2{
	width:47.4em;
	height:26.65em;
	background-color:#FFF;
	float:right;
	margin-top: 1.25em;
}

.ImageTWO{
	width:47.4em;
	height:26.65em;
}

.Text{
	width: 46.2em;
	height: 26.15em;
	background-color: #FFF;
	color: #000;
	float: right;
	/*font-size: 1rem;*/
	font-size:1rem;
	margin-top: 1.25em;
	margin-right: 1.25em;
	box-shadow: 0.05em 0em 0.5em 0.05em rgba(0,0,0,0.4);
	-webkit-box-shadow: 0.05em 0em 0.5em 0.05em rgba(0,0,0,0.4);
	-moz-box-shadow: 0.05em 0em 0.5em 0.05em rgba(0,0,0,0.4);
}

.Text2{
	width: 47.75em;
	height: 26.65em;
	background-color: #000;
	color: #FFF;
	float: left;
	margin-top: 1.25em;
	font-size: 1rem;
}

h2{
	margin-left:3%;
	margin-top:2%;
}

h2#mainCast{
	margin-bottom:1%;
}

p{
	margin-left:3%;
	margin-right:3%;
	margin-bottom:0;
}

.Video{
	width:46.45em;
	height:26.15em;
	float:left;
	margin-top: 1.25em;
	margin-left: 1.25em;
	box-shadow: -0.05em 0em 0.5em 0.05em rgba(0,0,0,0.4);
	-webkit-box-shadow: -0.05em 0em 0.5em 0.05em rgba(0,0,0,0.4);
	-moz-box-shadow: -0.05em 0em 0.5em 0.05em rgba(0,0,0,0.4);
}

.VideoONE{
	width:46.45em;
	height:26.15em;
}

.Video2{
	width:47.4em;
	height:26.65em;
	float:right;
	/*clear: right;*/
	margin-top: 1.25em;
	/*margin-bottom: 1.25em;*/
}

.VideoTWO{
	width:47.4em;
	height:26.65em;
}

.Sources{
	width:30em;
	height: 26.65em;
	margin-left:8.7em;
}

#Color{
	background-color:#800000;
}

#TextButton{
	height:100%;
	width:50%;
	text-decoration:none;
	font-size:2.5rem;
	display:inline-block;
	color:#FFF;
	float:left;
	text-align:center;
	line-height:26.65rem;
	background-image:url(Text.png);
	background-size:cover;
	background-position:center;
}

#TextButton:hover .Box{
	/*background-color:rgba(255,255,255,1);
	color:#000;*/
	cursor:pointer;
	display: block;
}

#ImageButton{
	height:100%;
	width:50%;
	text-decoration:none;
	font-size:2.5rem;
	display:inline-block;
	color:#FFF;
	float:right;
	text-align:center;
	line-height:26.65rem;
	background-image:url(Image.png);
	background-size:cover;
	background-position:center;
}

#ImageButton:hover .Box{
	/*background-color:rgba(255,255,255,1);
	color:#000;*/
	cursor:pointer;
	display: block;
}

.Box{
	height: 100%;
	width: 100%;
	background-color: #FFF;
	display: none;
	overflow: auto;
}

li.liLinks{
	width: 100%;
	float: left;
}

a.TextLinks{
	height: 100px;	
	text-align: center;
	display: block;
	text-decoration: none;	
	line-height: 100px;
	font-size: 33px;
	color: #000;
}

a.TextLinks:hover{
	transition: ease-in 0.15s;
	background-color: #000;
	color: #FFF;
}

a.ImageLinks{
	height: 40px;	
	text-align: center;
	display: block;
	text-decoration: none;	
	line-height: 40px;
	font-size: 24px;
	color: #000;
}

a.ImageLinks:hover{
	transition: ease-in 0.15s;
	background-color: #000;
	color: #FFF;
}

footer{
	width: 100%;
	height: 5%;
	float:left;
	background-color: #E1E1E1;
	overflow:hidden;
}

#facebook{
	width:2.4rem;
	height:100%;
	background-image:url(facebook.png);
	background-size:cover;
	background-position:center;
	float: left;
	margin-left: 42.95rem;
}

#facebook:hover{
	background-color: #1E1E1E;
	opacity: 0.9;
}

#twitter{
	width:2.4rem;
	height:100%;
	background-image:url(twitter.png);
	background-size:cover;
	background-position:center;
	float: left;
}

#twitter:hover{
	background-color: #1E1E1E;
	opacity: 0.75;
}

#instagram{
	width:2.4rem;
	height:100%;
	background-image:url(instagram.png);
	background-size:cover;
	background-position:center;
	float: left;
}

#instagram:hover{
	background-color: #1E1E1E;
	opacity: 0.75;
}

#youtube{
	width:2.4rem;
	height:100%;
	background-image:url(youtube.png);
	background-size:cover;
	background-position:center;
	float: left;
}

#youtube:hover{
	background-color: #1E1E1E;
	opacity: 0.75;
}

/*Slider*/
.slideshowContainer{
	width:43.2em;
	height:23.15em;
	margin-top:1.5em;
	margin-left:1.5em;
	background-color:#FFF;
	box-shadow: -0.05em 0em 0.5em 0.05em rgba(0,0,0,0.4);
	-webkit-box-shadow: -0.05em 0em 0.5em 0.05em rgba(0,0,0,0.4);
	-moz-box-shadow: -0.05em 0em 0.5em 0.05em rgba(0,0,0,0.4);
}

.slideShowONE{
	width:43.2em;
	height:23.15em;
}

.slideshowContainer2{
	width:44.75em;
	height:23.65em;
	margin-top:1.5em;
	margin-left:1.5em;
	background-color:#FFF;
	box-shadow: -0.05em 0em 0.5em 0.05em rgba(0,0,0,0.4);
	-webkit-box-shadow: -0.05em 0em 0.5em 0.05em rgba(0,0,0,0.4);
	-moz-box-shadow: -0.05em 0em 0.5em 0.05em rgba(0,0,0,0.4);
}

.slideShowTWO{
	width:44.75em;
	height:23.65em;
}

.mySlides{
	display: none;
}

a.right{
	cursor: pointer;
	padding: 15px;
	float: right;
	color: #FFF;
	/*Du sa att margin minus var okej*/
	margin-top:-268px;
	z-index:1;
	position:relative;
	border-radius: 3px 0 0 3px;
}

a.left{
	cursor: pointer;
	padding: 15px;
	float: left;
	color: #FFF;
	/*Du sa att margin minus var okej*/
	margin-top:-268px;
	z-index:1;
	position:relative;
	border-radius: 0 3px 3px 0;
}

a.right:hover, a.left:hover{
	background-color: rgba(0,0,0,0.8);
}

.dot{
	cursor: pointer;
	height: 12px;
	width: 12px;
	margin-bottom:5px;
	background-color: #BBB;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.dotsCenter{
	text-align: center;
}

.active, .dot:hover{
	background-color: #717171;
}

.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 0.8s;
	animation-name: fade;
	animation-duration: 0.8s;
}

@-webkit-keyframes fade{
	from{
		opacity: 0.6;
	}
	to{
		opacity: 1;
	}
}

@keyframes fade{
	from{
		opacity: 0.6;
	}
	to{
		opacity: 1;
	}
}

/*17.477px*/
