@charset "utf-8";

body{
	margin:0;
	padding:0;
	font-family: 'swisop3regular';
}

html{
	font-size: 20px;
}

@font-face {
    font-family: 'swisop3regular';
    src: url('swisop3-webfont.woff2') format('woff2'),
         url('swisop3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'assassinregular';
    src: url('assassin-webfont.woff2') format('woff2'),
         url('assassin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#storbox{
	background-color:#1E1E1E;
	width:100%;
	height:100%;
	position:absolute;
}

#gamesImage{
	height:100%;
	width:50%;
	float:left;
	background-image: url(acspel.jpg);
	background-size:cover;
	background-position:center;
}

#movieImage{
	height:100%;
	width:50%;
	float:right;
	background-image:url(acmovie.jpg);
	background-size:cover;
	background-position:center;
}

a.mainLink{
	font-size:58px;
	text-align:center;
	display: block;
	line-height:900px;
	text-decoration:none;
	color:#FFF;
	font-family:"assassinregular";
	height:100%;
	width:100%;
	float:left;
	background-color:rgba(26,26,26,0.62);
}

a.mainLink:hover{
	transition: ease-in 0.15s;
	background-color:rgba(30,30,30,0.15);
	color:#FFF;
}

header{
	height: 120px;
	width:100%;
	z-index: 1;

	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.1, #1E1E1E),
	color-stop(1, #800000)
);
background-image: -o-linear-gradient(top, #1E1E1E 10%, #800000 100%);
background-image: -moz-linear-gradient(top, #1E1E1E 10%, #800000 100%);
background-image: -webkit-linear-gradient(top, #1E1E1E 10%, #800000 100%);
background-image: -ms-linear-gradient(top, #1E1E1E 10%, #800000 100%);
background-image: linear-gradient(to top, #1E1E1E 10%, #800000 100%);
}

header#headerFixed{
	position: fixed;
}

a#logoImage{
	height:100%;
	width:120px;
	background-image:url(Logo.png);
	background-size:cover;
	background-position:center; 
	display: block;
	margin: 0 auto;
}

a#headerButton{
	height: 60px;
	width:160px;
	line-height:70px;
	display:block;
	float:right;
	font-size:2.9rem;
	text-align:center;
	text-decoration:none;
	margin-top:1.4rem;
    margin-right: 700px;
    position: absolute;
	color:#FFF;
	font-family:"assassinregular";
}

a#sourcesButton{
	height:60px;
	width:160px;
	line-height:70px;
	display:block;
	float:left;
	font-size:2.9rem;
	text-align:center;
	text-decoration:none;
	margin-top:1.4rem;
    margin-left: 34.75rem;
	color:#FFF;
	font-family:"assassinregular";
	position: fixed;
	left: 34.75rem;
}

a#headerButton:hover{
	transition: ease-in 0.15s;
	background-color:rgba(30,30,30,0.6);
	color:#FFF;
	border: 1px #FFF;
	border-style: solid solid solid solid;
}

a#sourcesButton:hover{
	transition: ease-in 0.15s;
	background-color:rgba(30,30,30,0.6);
	color:#FFF;
	border: 1px #FFF;
	border-style: solid solid solid solid;
}

a#dropButton{
	height:60px;
	width:160px;
	line-height:70px;
	float:left;
	font-size:2.9rem;
	margin-top:1.4rem;
    margin-left: 700px;
    position: absolute;
	text-align:center;
	display: block;
	text-decoration:none;
	color:#FFF;
	font-family:"assassinregular";
}

a#dropButton:hover{
	transition: ease-in 0.15s;
	background-color:rgba(30,30,30,0.6);
	color:#FFF;
	cursor:pointer;
	border: 1px #FFF;
	border-style: solid solid solid solid;
}

#dropContent{
	display: none;
	width:38.4em;
	height:20em;
	float:left;
    margin-top: 120px;
    margin-left: 28.375em;
	background-color: rgba(30,30,30,0.7);
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

li#ac1{
	height: 4em;
	width: 50%;
	background-color: transparent;
	float: left;
	/*position: fixed;
	top: 5.85em;*/
}
li#ac2{
	height: 4em;
	width: 50%;
	background-color: transparent;
	float: right;
	/*position: fixed;
	top: 5.85em;
	margin-left: 19.2em;*/
}
li#ac2b{
	height: 4em;
	width: 50%;
	background-color: transparent;
	float: left;
	/*position: fixed;
	top: 9.85em;*/
}
li#ac2r{
	height: 4em;
	width: 50%;
	background-color: transparent;
	float: left;
	/*position: fixed;
	top: 9.85em;
	margin-left: 19.2em;*/
}
li#ac3{
	height: 4em;
	width: 50%;
	background-color: transparent;
	float: left;
	/*position: fixed;
	top: 13.85em;*/
}
li#ac4{
	height: 4em;
	width: 50%;
	background-color: transparent;
	float: left;
	/*position: fixed;
	top: 13.85em;
	margin-left: 19.2em;*/
}
li#acr{
	height: 4em;
	width: 50%;
	background-color: transparent;
	float: left;
	/*position: fixed;
	top: 17.85em;*/
}
li#acu{
	height: 4em;
	width: 50%;
	background-color: transparent;
	float: left;
	/*position: fixed;
	top: 17.85em;
	margin-left: 19.2em;*/
}
li#acs{
	height: 4em;
	width: 50%;
	background-color: transparent;
	float: left;
	/*position: fixed;
	top: 21.85em;*/
}
li#källor{
	height: 4em;
	width: 50%;
	background-color: transparent;
	float: left;
	/*position: fixed;
	top: 21.85em;
	margin-left: 19.2em;*/
}

a.links{
	display: block;
	height: 4rem;
	width: 19.2rem;
	text-align: center;
	text-decoration:none;
	color:#FFF;
	font-family:"assassinregular";
	font-size: 2.5rem;
	line-height: 4.4rem;
	background-color: rgba(30,30,30,0.62);
}

a.links:hover{
	transition: ease-in 0.15s;
	background-color:rgba(200,200,200,0.15);
}

#ac1Image{
	height:88%;
	width:11.1111%;
	background-image:url(ac1.jpg);
	background-size:cover;
	background-position:center;
	float:left;
}

#ac2Image{
	height:88%;
	width:11.1111%;
	background-image:url(ac2.jpg);
	background-size:cover;
	background-position:center;
	float:left;
}

#ac2bImage{
	height:88%;
	width:11.1111%;
	background-image:url(ac2b.jpg);
	background-size:cover;
	background-position:center;
	float:left;
}

#ac2rImage{
	height:88%;
	width:11.1111%;
	background-image:url(ac2r.jpg);
	background-size:cover;
	background-position:center;
	float:left;
}

#ac3Image{
	height:88%;
	width:11.1111%;
	background-image:url(ac3.jpg);
	background-size:cover;
	background-position:center;
	float:left;
}

#ac4Image{
	height:88%;
	width:11.1111%;
	background-image:url(ac4.jpg);
	background-size:cover;
	background-position:center;
	float:left;
	/*clear: left;*/
}

#acrImage{
	height:88%;
	width:11.1111%;
	background-image:url(acr.jpg);
	background-size:cover;
	background-position:center;
	float:left;
}

#acuImage{
	height:88%;
	width:11.1111%;
	background-image:url(acu.jpg);
	background-size:cover;
	background-position:center;
	float:left;
}

#acsImage{
	height:88%;
	width:11.1111%;
	background-image:url(acs.jpg);
	background-size:cover;
	background-position:center;
	float:left;
}

a.gamesLink{
	font-size:48px;
	text-align:center;
	line-height:850px;
	text-decoration:none;
	color:#FFF;
	font-family:"assassinregular";
	height:100%;
	width:100%;
	float:left;
	background-color:rgba(30,30,30,0.62);
}

.brotherhoodText{
	letter-spacing:-2.5px;
}

a.gamesLink:hover{
	transition: ease-in 0.15s;
	background-color:rgba(26,26,26,0.15);
	color:#FFF;
}

article{
	background-color:#000;
	height:auto;
	width:100%;
	margin-top: 6.1%;
	overflow:hidden;
}

img.img1{
	height: 100%;
	width: 50%;
	float: left;
}

img.img2{
	height: 100%;
	width: 50%;
	float: right;
}

iframe.video1{
	height: 100%;
	width: 50%;
	float: left;
}

iframe.video2{
	height: 100%;
	width: 50%;
	float: right;
}

.Box1{
	width:92.65em;
	height:26.15em;
	background-color:#FFF;
	margin-left: 1.25em;
	margin-top: 1.25em;
	float: left;
	box-shadow: 0em 0em 0.5em 0.1em rgba(0,0,0,0.4);
	-webkit-box-shadow: 0em 0em 0.5em 0.1em rgba(0,0,0,0.4);
	-moz-box-shadow: 0em 0em 0.5em 0.1em rgba(0,0,0,0.4);
}

.Box2{
	width:95.15em;
	height:26.65em;
	background-color:#000;
	margin-top: 1.25em;
	float: left;
}

h2.h2-1{
	margin-left: 51.5%;
	color: #000;
}

h2.h2-2{
	margin-left:1.5%;
	color: #FFF;
}

h2#mainCast{
	margin-top:1%;
}

p.p1{
	margin-left:51.5%;
	margin-right:1.5%;
	margin-bottom:0;
	color: #000;
}

p.p2{
	margin-right: 51.5%;
	margin-left: 1.5%;
	margin-bottom:0;
	color: #FFF;
}

#TextButton{
	height:100%;
	width:25%;
	text-decoration:none;
	font-size:2.5rem;
	display:inline-block;
	color:#FFF;
	float:left;
	text-align:center;
	line-height:26.65rem;
	background-image:url(Text.png);
	background-size:cover;
	background-position:center;
}

#ImageButton{
	height:100%;
	width:25%;
	text-decoration:none;
	font-size:2.5rem;
	display:inline-block;
	color:#FFF;
	float:right;
	text-align:center;
	line-height:26.65rem;
	background-image:url(Image.png);
	background-size:cover;
	background-position:center;
}

#TextBox{
	height: 100%;
	width: 100%;
	background-color: #FFF;
	display: none;
	overflow: auto;
}

#ImageBox{
	height: 100%;
	width: 100%;
	background-color: #FFF;
	display: none;
	overflow: auto;
}

li.liLinks{
	width: 100%;
	float: left;
}

a.TextLinks{
	height: 5rem;	
	text-align: center;
	display: block;
	text-decoration: none;	
	line-height: 5rem;
	font-size: 1.65rem;
	color: #000;
}

a.TextLinks:hover{
	transition: ease-in 0.15s;
	background-color: #000;
	color: #FFF;
}

a.ImageLinks{
	height: 2rem;	
	text-align: center;
	display: block;
	text-decoration: none;	
	line-height: 2rem;
	font-size: 1.2rem;
	color: #000;
}

a.ImageLinks:hover{
	transition: ease-in 0.15s;
	background-color: #000;
	color: #FFF;
}

footer{
	width: 100%;
	height: 50px;
	float:left;
	background-color: #E1E1E1;
}

#facebook{
	/*width:2.4rem;*/
	width:50px;
	height:100%;
	background-image:url(facebook.png);
	background-size:cover;
	background-position:center;
	float: left;
	margin-left: 42.6em;
}

#facebook:hover{
	background-color: #1E1E1E;
	opacity: 0.9;
}

#twitter{
	/*width:2.4rem;*/
	width:50px;
	height:100%;
	background-image:url(twitter.png);
	background-size:cover;
	background-position:center;
	float: left;
}

#twitter:hover{
	background-color: #1E1E1E;
	opacity: 0.75;
}

#instagram{
	/*width:2.4rem;*/
	width:50px;
	height:100%;
	background-image:url(instagram.png);
	background-size:cover;
	background-position:center;
	float: left;
}

#instagram:hover{
	background-color: #1E1E1E;
	opacity: 0.75;
}

#youtube{
	/*width:2.4rem;*/
	width:50px;
	height:100%;
	background-image:url(youtube.png);
	background-size:cover;
	background-position:center;
	float: left;
}

#youtube:hover{
	background-color: #1E1E1E;
	opacity: 0.75;
}

/*Slider*/
.slideshowContainer{
	width:43.2em;
	height:23.15em;
	margin-top:1.5em;
	margin-right:1.5em;
	background-color:#FFF;
	float: right;
	box-shadow: -0.05em 0em 0.5em 0.05em rgba(0,0,0,0.4);
	-webkit-box-shadow: -0.05em 0em 0.5em 0.05em rgba(0,0,0,0.4);
	-moz-box-shadow: -0.05em 0em 0.5em 0.05em rgba(0,0,0,0.4);
}

.slideShowONE{
	width:43.2em;
	height:23.15em;
}

.slideshowContainer2{
	width:44.75em;
	height:23.65em;
	margin-top:1.5em;
	margin-left:1.5em;
	float: left;
	background-color:#FFF;
	box-shadow: -0.05em 0em 0.5em 0.05em rgba(0,0,0,0.4);
	-webkit-box-shadow: -0.05em 0em 0.5em 0.05em rgba(0,0,0,0.4);
	-moz-box-shadow: -0.05em 0em 0.5em 0.05em rgba(0,0,0,0.4);
}

.slideShowTWO{
	width:44.75em;
	height:23.65em;
}

.mySlidesAC1{
	display: none;
}
.mySlidesAC2{
	display: none;
}
.mySlidesAC2b{
	display: none;
}
.mySlidesAC2r{
	display: none;
}
.mySlidesAC3{
	display: none;
}
.mySlidesAC4{
	display: none;
}
.mySlidesACr{
	display: none;
}
.mySlidesACu{
	display: none;
}
.mySlidesACs{
	display: none;
}

a.right{
	cursor: pointer;
	padding: 15px;
	float: right;
	color: #FFF;
	/*Du sa att margin minus var okej*/
	margin-top:-13.4em;
	z-index:auto;
	position:relative;
	border-radius: 3px 0 0 3px;
}

a.left{
	cursor: pointer;
	padding: 15px;
	float: left;
	color: #FFF;
	/*Du sa att margin minus var okej*/
	margin-top:-13.4em;
	z-index:auto;
	position:relative;
	border-radius: 0 3px 3px 0;
}

a.right:hover, a.left:hover{
	background-color: rgba(0,0,0,0.8);
}

.dot{
	cursor: pointer;
	height: 0.6em;
	width: 0.6em;
	margin-bottom:5px;
	background-color: #BBB;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.dotsCenter{
	text-align: center;
}

.active, .dot:hover{
	background-color: #4F4F4F;
}

.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 0.8s;
	animation-name: fade;
	animation-duration: 0.8s;
}

@-webkit-keyframes fade{
	from{
		opacity: 0.6;
	}
	to{
		opacity: 1;
	}
}

@keyframes fade{
	from{
		opacity: 0.6;
	}
	to{
		opacity: 1;
	}
}

@media screen and (min-width: 1820px) and (max-width: 1919px) {
	html{
		font-size:19px;
	}
}

@media screen and (min-width: 1720px) and (max-width: 1819px) {
	html{
		font-size:18px;
	}
}

@media screen and (max-width: 1680px) {
	html{
		font-size:17.477px;
	}
}

@media screen and (min-width: 1620px) and (max-width: 1679px) {
	html{
		font-size:17px;
	}
}

@media screen and (min-width: 1520px) and (max-width: 1619px) {
	html{
		font-size:16px;
	}
}

@media screen and (min-width: 1441px) and (max-width: 1519px) {
    html{
        font-size:15px;
    }
}

@media screen and (max-width: 1440px) {
    html{
        font-size:14.951px;
    }
}

@media screen and (min-width: 1367px) and (max-width: 1439px) {
    html{
        font-size:15.5px;
    }
}

@media screen and (max-width: 1366px) {
	html{
		font-size:14.173px;
	}
}

@media screen and (min-width: 1260px) and (max-width: 1365px) {
    html{
        font-size:13.5px;
    }
}

@media screen and (min-width: 1160px) and (max-width: 1259px) {
    html{
        font-size:13px;
    }
    header{
        height: 80px;        
    }
    a#logoImage{
        width: 80px;
    }
    #dropContent{
        margin-top: 80px;
    }
    footer{
        height: 30px;
    }
    #facebook, #twitter, #instagram, #youtube{
        width: 30px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1159px) {
    html{
        font-size:12px;
    }
    header{
        height: 80px;        
    }
    a#logoImage{
        width: 80px;
    }
    #dropContent{
        margin-top: 80px;
    }
    footer{
        height: 30px;
    }
    #facebook, #twitter, #instagram, #youtube{
        width: 30px;
    }
}

@media screen and (max-width: 1024px) {
    html{
        font-size:10.579px;
    }
    header{
        height: 80px;        
    }
    a#logoImage{
        width: 80px;
    }
    #dropContent{
        margin-top: 80px;
    }
    footer{
        height: 30px;
    }
    #facebook, #twitter, #instagram, #youtube{
        width: 30px;
    }
}